resources/base/music/*
android/.idea/*
desktop/build/*
desktop/MalletEditor/*
desktop/MalletEngine/*
desktop/target/*
build/*
libs/*
web/target
*/.gradle/*
.gradle/*

.kateproject.d

*.jar
*.class
*.apk
*.png
*.svg
*.h
*.m
